{% extends 'base.html.twig' %}

{% block body %}

    <section class="w-100 d-flex justify-content-center align-items-center searchbar-container">
        <div class="container-sm searchbar-form-container glassy-background text-center p-4 m-2">
            <h1 class="display-1 text-light mb-5">FundoSphere</h1>

            <form id="searchForm" action="" method="GET" class="d-flex align-items-center position-relative" onsubmit="console.log(2)">
                <input class="form-control form-control-lg me-2 searchbar" type="text"
                       placeholder="Search for fundraiser" aria-label="Search">
                <i class="bi bi-search search-icon fs-2" onclick="document.getElementById('searchForm').submit()"></i>
            </form>

            <h4 class="my-4 text-light display-5">OR</h4>

            <a href="/fundraiser/create">
                <button class="btn btn-lg btn-success w-100">CREATE FUNDRAISER</button>
            </a>
        </div>
    </section>

    <h1 class="display-1 text-light text-center p-2">Latest</h1>

    <section class="container-flex text-center d-flex justify-content-center">
        <section class="d-flex justify-content-center flex-wrap h-100" style="max-width: 1000px;">
            {% for item in fundraisers %}
                <section class="d-flex justify-content-center align-items-stretch">
                    <a href="/fundraiser/{{ item.id }}" class="text-decoration-none text-dark">
                        {{ block("card", "components/fundraiserCard.html.twig") }}
                    </a>
                </section>
            {% endfor %}
        </section>
    </section>

    <section class="text-center mb-3">
        <a href="/fundraiser">
            <button class="btn btn-lg btn-primary m-3">Show all</button>
        </a>
    </section>


{% endblock %}
