{% extends 'base.html.twig' %}

{% block title %}FundoSphere - Your Fundraisers{% endblock %}

{% block body %}

    <section class="py-5 container text-center text-light d-flex justify-content-center">
        <div class="row py-lg-5 py-3 glassy-background w-100" style="max-width: 960px; z-index: 10 !important;">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Your favorite fundraisers</h1>
                {{ block("sortByButton", "components/sortByButton.html.twig") }}
            </div>
        </div>
    </section>

    {{ block("fundraisersGrid", "components/fundraisersGrid.html.twig") }}
{% endblock %}

