{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="{{ asset('build/images/dollar.png') }}" height="32">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-light">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-light">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-light">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-light">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-light">About</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <a href="/login" class="text-decoration-none">
                        <button type="button" class="btn btn-outline-primary me-2">Login</button>
                    </a>
                    <a href="/register" class="text-decoration-none">
                        <button type="button" class="btn btn-primary">Sign-up</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
