{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="{{ asset('build/images/dollar.png') }}" height="32">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item"><a href="/" class="nav-link px-3 link-light">Home</a></li>
                    <li class="nav-item"><a href="/fundraiser" class="nav-link px-3 link-light">All Fundraisers</a></li>
                </ul>

                {% if app.user %}
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/profile/fundraisers">My Fundraisers</a></li>
                            <li><a class="dropdown-item" href="/profile/fundraisers/favorite">Favorite Fundraisers</a></li>
                            <li><a class="dropdown-item" href="/fundraiser/create">Create Fundraiser</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="col-md-3 text-end">
                        <a href="/login" class="text-decoration-none">
                            <button type="button" class="btn btn-dark text-light me-2">Login</button>
                        </a>
                        <a href="/register" class="text-decoration-none">
                            <button type="button" class="btn btn-primary">Sign-up</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
